In [1]:
import pandas as pd 
import os 
import pickle

In [11]:
df = pd.read_csv('/media/aggr/DATA/RAMAS/RAMAS/Annotations_by_emotions/data_Angry.csv', delimiter=';')
df

      ID         File    Start      End emotion
0      1  10dec_D11_1  123.801  143.728   Angry
1      1  10dec_D11_1  210.220  257.280   Angry
2      1  10dec_D31_1   20.981   29.468   Angry
3      1  10dec_D41_1   21.083   24.517   Angry
4      1  10dec_D41_1   26.379   31.611   Angry
...   ..          ...      ...      ...     ...
1556  20  22dec_K34_2   15.777   20.630   Angry
1557  20  22dec_K34_2   27.965   36.558   Angry
1558  20  22dec_K42_1    4.315   17.490   Angry
1559  20  22dec_K42_1   18.804   22.522   Angry
1560  20  22dec_K45_1   39.705   48.520   Angry

[1561 rows x 5 columns]

In [9]:
path = '/media/aggr/DATA/RAMAS/RAMAS/Annotations_by_emotions/'
for file in os.listdir(path):
    print(file)
    df = pd.read_csv(path + file)
    emotion = file.split('.')[0].split('_')[1]
    df['emotion'] = emotion
    df.to_csv(path + file, sep=';', index=False)

data_Angry.csv
data_Disgusted.csv
data_Domination.csv
data_Happy.csv
data_Neutral.csv
data_Sad.csv
data_Scared.csv
data_Shame.csv
data_Submission.csv
data_Surprised.csv
data_Tiredness.csv

In [4]:
df

      ID         File    Start      End
0      1  10dec_D11_1  123.801  143.728
1      1  10dec_D11_1  210.220  257.280
2      1  10dec_D31_1   20.981   29.468
3      1  10dec_D41_1   21.083   24.517
4      1  10dec_D41_1   26.379   31.611
...   ..          ...      ...      ...
1556  20  22dec_K34_2   15.777   20.630
1557  20  22dec_K34_2   27.965   36.558
1558  20  22dec_K42_1    4.315   17.490
1559  20  22dec_K42_1   18.804   22.522
1560  20  22dec_K45_1   39.705   48.520

[1561 rows x 4 columns]

In [4]:
with open('broken_files.pkl', 'rb') as f:
    broken_files = pickle.load(f)
    for path in broken_files:
        os.remove(path)